body {
    background: #333;
    color: #fff;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

header {
  background: #333;
  float: left;
  width: 100%;
  padding: 0 20px;
  position: fixed;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  float: right;
  padding-top: 30px;
}

nav ul {
  list-style: none;
}

nav li {
  float: left;
  margin-right: 20px;
}

h1 {
  float: left;
  padding-left: 10px;
}

h2 {

}

article {
    color: #000;
    float: right;
    width: 45%;
    padding: 30px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

div {
  float: left;
  width: 50%;
  padding: 30px;
  color: #000;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  clear: both;
}

#cougar {
    background: #B26219;
    float: left;
    width: 100%;
    padding-top: 120px;
}

#lion {
    background: #FFD5AE;
    float: left;
    width: 100%;
}

#tiger {
    background: #FFBD82;
    float: left;
    width: 100%;
}

footer {
    text-align: center;
    padding: 20px;
    clear: both;
}




/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2; }
a:hover { color: #82E8FF; }
